@import url(banner.css);
@import url(footer.css);
:root {
  --dark: #0a0a0a;
  --dark-x: #111111;
  --dark-xx: #222222;
  --light: #ffffff;
  --primary: #ff6079;
  --primary-x: #fe3051;
  --muted: #a1b0bf;
}
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--light);
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark) !important;
}
.navbar {
  min-height: 4rem;
}

*{
  margin: 0;
  padding: 0;

}



